.black{
    width: 75%;
    padding: 3%;
    background: #27212c;
    color: #786a83;
    text-align: center;
}
.pink{
    padding: 3%;
    float: right;
    width: 25%;
    background: #bc3183;
}
.purple{
    height: 275px;
    background: #5b0fa1;
}
.elements{
    margin: 0;
}
.elements img{
    width: 320px;
    display: block;
}