.header{
    height: 50px;   
    background: #373c3f;
    color: white;
}
.burger{
    float: right;
    height: 50px;
    width: 25%;
    border: 0pc solid;
}

.blue{ 
    padding: 8%;
    background: #16b1c4;
    color: white;
}
.blue h2{
    text-align: center;
}
.blue a{
    text-align: center;
    color: white;
}
.menu-desktop{
    display: none;
}